<div th:fragment="footer" >
<!-- FOOTER -->
<footer id="footer">
    <!-- bottom footer -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
                    <!-- <script type="text/javascript">
                        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cspan id='cnzz_stat_icon_1260549954'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260549954%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                    </script>-->
                        北京红象云腾系统技术有限公司 </i> - <a href="http://www.redoop.com/" target="_blank" title="北京红象云腾">Redoop</a> - Collect from <a href="http://www.redoop.com/" title="Redoop" target="_blank">红象大数据</a>
                     Redoop
                    </span>
                </div>
            </div>
            <!-- /row -->
        </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
</div>
