<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <link rel="shortcut icon" href="/img/icon/logo.ico">
   <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">-->

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="section">
    <div class="container">
        <div class="row">
            <div id="store" class="col-md-12">
                <img src="/img/404.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>
