
<!DOCTYPE html>
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="/img/icon/logo.ico"/>
    <link href="/css/pintuer.css" rel="stylesheet"/>
    <link href="/css/admin.css" rel="stylesheet"/>
    <title>登录</title>

</head>
<body>



<!--

    <form class="form-horizontal" th:action="@{/user/login}"  method="post">
        <div>
            <span id="basic-addon0">&nbsp;</span>
            <span style="font-size: 12px;color: red" th:text="${error}" aria-describedby="basic-addon0"></span>
            <br />
        </div>
        <div>
            <span id="basic-addon1">用户名</span>
            <input id="username" name="username" type="text" placeholder="用户名"  />
        </div>
        <br />
        <div>
            <span id="basic-addon2">密码</span>
            <input id="password" name="password" type="password" placeholder="密码" />
        </div>
        <br />
        <button type="submit" style="width:190px;">登 录</button>

    </form>
-->

    <div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <form class="form-horizontal" action="/login/form" method="post">
                    <div>
                        <span id="basic-addon0">&nbsp;</span>
                        <br />
                    </div>
                    <div class="panel loginbox">
                        <div class="text-center margin-big padding-big-top"><h1>SeasBase</h1></div>
                        <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="text" class="input input-big" id="username"  name="username" th:name="username" autofocus placeholder="登录账号"/>
                                    <span class="icon icon-user margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="password" class="input input-big" id="password" name="password" th:name="password" placeholder="登录密码"/>
                                    <span class="icon icon-key margin-small"></span>
                                </div>
                            </div>
                        </div>
                        <!--<p th:if="${loginError}" class="error">用户名密码错误</p>-->
                        <div style="padding:30px;">
                            <!--<input type="button" onclick="login();" class="button button-block bg-main text-big input-big" value="登录"/>-->
                            <button type="submit" class="button button-block">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/layer/layer.js"></script>
<script type="text/javascript">

function login() {
    var username = $("#username").val();
    var password = $("#password").val();
    $.post("/user/login", {"username":username,"password":password}, function (result) {

        if (result.code == 200) {
            layer.msg("登录成功");
            location.href="/analysis/1";
            //window.location.href=="/virtual";
        } else if (result.code == 1002) { {
            layer.msg(result.msg)
        }}else {
            layer.msg(result.msg)
        }
    });
}

document.onkeydown = function(e){
    var ev = document.all ? window.event : e;
    if(ev.keyCode==13) {
        login();
    }
}

</script>

</body>
</html>