.ace-sqlserver .ace_gutter {
    background: #ebebeb;
    color: #333;
    overflow: hidden;
}

.ace-sqlserver .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
}

.ace-sqlserver {
    background-color: #FFFFFF;
    color: black;
}

.ace-sqlse